<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<header class="container text-center">
    <a class="btn btn-primary" th:href="@{/create}"> Tạo Mới</a>
</header>
<div class="container mt-5">
    <table class="table table-bordered">
        <tr>
            <th >ID</th>
            <th>Name</th>
            <th>Quanlity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="product :${list}" th:object="${product}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{quantity}"></td>
            <td th:text="${currencyFormat.format(product.price)}"></td>
            <td class="text-center"><a th:href="@{/product/detail(id=*{id})}" class="btn btn-primary">Detail</a></td>
            <td class="text-center"><a th:href="@{/product/delete(id=*{id})}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
</div>
<footer class="container-fluid bg-black">

</footer>
</body>
</html>